.Dashboard{

  position: relative;


  &-body{

    position: absolute;
    top: 58px;
    left: 0;
    bottom: 0;
    right:0;
    display: flex;

    &__side-nav{
      min-width: 80px;
      height: 100%;
    }

    &__content{
      width: calc(100% - 80px);
      height: calc(100vh - 58px);
      background: rgba(0,0,0, .1);
    }

  }

}
