:root{
  --primary-light: #757ce8;
  --primary: #3f50b5;
  --primary-dark: #002884;
  --primary-contrastText: #fff;

  --secondary-light: #ff7961;
  --secondary: #f44336;
  --secondary-dark: #ba000d;
  --secondary-contrastText: #000;

}
